.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Outer wrapper for centering the tabs container */
.center-wrapper {
  display: flex;
  justify-content: center;
}

.tabs-container {
  max-width: 800px;
  padding-left: 0px;
  min-height: 500px;
}

/* Center the Tabs */
.ant-tabs {
  display: inline-block;
}


.aggregated-charts {
  /*display: grid;*/
  display: flex;
  flex-wrap: wrap; /* This allows items to wrap to the next line */
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Default: 1 column */
}

/* Medium screens: 2 columns */
@media (min-width: 600px) {
  .aggregated-charts {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

/* Large screens: 3 columns */
@media (min-width: 900px) {
  .aggregated-charts {
    grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
  }
}

.aggregated-chart {
  width: 350px;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 60px;
  max-height: 300px; /* Adjust the height as needed */
}

.chart-title {
  max-width: 80%;   /* Set the maximum width of the title */
  word-wrap: break-word;  /* Wrap long words onto the next line */
  /*text-align: center;  !* Center-align the title *!*/
  margin-bottom: 10px; /* Space between the title and the chart */
  margin-left: 30px;
  margin-top: 20px; /* Space between the title and the chart */
  /* Add any additional styling such as font size, color, etc. */
}